# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.pytest_tmp/
.test_tmp/

# Env
.env
*.env

# Artifacts
artifacts/
*.parquet

# IDE
.vscode/
.idea/

# DB
*.db
*.sqlite

# OS
Thumbs.db
.DS_Store
